doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='This is simple task manager')
    meta(name='author', content='Artem Lebedev')
    //- link(rel='icon', href='../../../../favicon.ico')
    title Task Manager
    //- link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    //- link(href='sticky-footer.css', rel='stylesheet')
  body
    main.container(role='main')
      h1.mt-5 Task Manager
      p.lead My simple task manager.
      
    footer.footer
      .container
        //- span.text-muted This is footer
