extends /layouts/application.pug

block content
  +jumbo(600)
    h1.text-center 404
    .alert.alert-primary(role='alert').
      Кажется, вы не должны быть здесь.
      Лучше вернуться на <a href="/">главную страницу</a>