extends /layouts/application.pug

block content
  +jumbo(600)
    h2.mx-auto.mb-3 Change account data:
    +formFor(formData, { url: `/users/${userId}?_method=PATCH`, method: 'post' })
      +input(formData, 'firstName')
      +input(formData, 'lastName')
      +input(formData, 'password', { as: 'password' })
      +button(formData)