extends /layouts/application.pug

block content
  .container
  .row
    .col-9
      +jumbo()
        - const user = formData.object.dataValues;
        h2 Account data:
        br
        h4 First Name: <strong>#{user.firstName}</strong>
        h4 Last Name: <strong>#{user.lastName}</strong>
        h4 Email: <strong>#{user.email}</strong>
        h4 Creation date: <strong>#{user.createdAt}</strong>
    .col-3
      +jumbo()
        +accButtons()
        